# Dependency directories
node_modules/
target/
dist/
build/

# OS misc
.DS_Store
Thumbs.db

# Environment variables
.env

# IDE
.vscode/
.idea/
*.iml
.classpath
.project
.settings/

# Maven wrapper/binaries (if local)
apache-maven-3.9.6/
maven.zip

# Logs
*.log
